@model Contact

@{
    ViewBag.Title = "Contact form send";
}

<h2>Send data:</h2>
<div class="row">
    <h3>Title: </h3>
    <p>@Model.Title</p>
</div>
<div class="row">
    <h3>Message:</h3>
    <p>@Model.Message</p>
</div>
<div class="row">
    <h3>Hero: </h3>
    <p>@Model.Hero</p>
</div>
<div class="row">
    <h3>email: </h3>
    <p>@Model.Email</p>
</div>